<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+yWASP3zYNxxvwoQBD5fUSc1tctKq4KUiZzxgkBSJACiUp+IbweVKvsEhMI+gz7" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <div class="header">
        <h1>
          Anonymous Message Board
        </h1>
        <nav id="navbar">
        <ul>
          <li class="nav"><a href="#userstories">About</a></li>
          <li class="nav"><a href="#testui">Example Tests</a></li>
          <li class="nav"><a href="https://github.com/willjw3/Anonymous-Message-Board" target="_blank">API Documentation</a></li>
          <li class="nav"><a href="https://www.freecodecamp.org/willjw3" id="profile-link" target="_blank">freeCodeCamp Profile</a></li>
        </ul>
        </nav>
      </div>
    </header>
    <div class="body-center">
      <div id='userstories'>
        <h3>Features</h3>
        <ol>
          <li>Prevents clickjacking by allowing only your site to be loaded in an iFrame on your own pages.</li>
          <li>Does not allow DNS prefetching.</li>
          <li>Allows only your site to send the referrer for your own pages.</li>
          <li>Users can <b>POST</b> a new thread to a specific message board.</li>
          <li>Users can <b>POST</b> a reply (comment) to a thead on a specific board.</li>
          <li>Users can <b>GET</b> the most 10 most recently bumped threads on the board with only the 3 most recent replies.</li>
          <li>Users can <b>GET</b> an entire thread with all it's replies.</li>
          <li>Users can delete a thread completely.</li>
          <li>Users can delete a reply (comment). </li>
          <li>Users can report a thread.</li>
          <li>Users can report a reply (comment).</li>
          <li>Contains a suite of functional tests.</li>
        </ol>
        <img src='https://cdn.gomix.com/8f5547a1-a0d6-48f6-aa38-51753a0105f4%2FScreen%20Shot%202017-01-02%20at%201.04.10%20AM.png'>
        <br><br>
        <h2><a href='/b/general/'>Go to testing <i>'/b/general/'</i> board</a></h2>
      </div>
      <div class="right-bar">
        <img src="https://dl.dropboxusercontent.com/s/9pzbk7kie5z549r/fccLogo.jpg?dl=0" alt="">
        <p>This is a freeCodeCamp Information Security and Quality Assurance project</p>
        <p>Structure provided by <a href="https://www.freecodecamp.org/">fCC</a>. Functionality by <a href="https://github.com/willjw3">willjw3</a></p>
      </div>
    </div>

    <hr style='margin: 50px'>
    <div id='testui' style='margin-left: 5%'>
      <h2 style="text-align: left">API Tests:</h2>
        <h4>New thread (POST /api/threads/:board)</h4>
        <form action="/api/threads/test" method="post" id="newThread">
          <input type='text' placeholder='board' id='board1' name='board' required=''><br>
          <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
          <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
          <input type="submit" class="btn btn-primary mt-1" value="Submit">
        </form>
        <hr>
        <h4>Report thread (PUT /api/threads/:board)</h4>
        <form id="reportThread">
          <input type='text' placeholder='board' id='board2' name='board' required=''><br>
          <input type='text' placeholder='id to report' name='thread_id' required=''><br>
          <input type="submit" class="btn btn-primary mt-1" value="Submit">
        </form>
        <hr>
        <h4>Delete thread (DELETE /api/threads/:board)</h4>
        <form id="deleteThread">
          <input type='text' placeholder='board' id='board3' name='board' required=''><br>
          <input type='text' placeholder='id to delete' name='thread_id' required=''><br>
          <input type='text' placeholder='password' name='delete_password' required=''><br>
          <input type="submit" class="btn btn-warning mt-1" value="Delete">
        </form>
        <hr>


        <h4>New reply (POST /api/replies/:board)</h4>
        <form action="/api/threads/test" method="post" id="newReply">
          <input type='text' placeholder='board' id='board4' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
          <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
          <input type="submit" class="btn btn-primary mt-1" value="Submit">
        </form>
        <hr>
        <h4>Report reply (PUT /api/replies/:board)</h4>
        <form id="reportReply">
          <input type='text' placeholder='board' id='board5' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <input type='text' placeholder='id to report' name='reply_id' required=''><br>
          <input type="submit" class="btn btn-primary mt-1" value="Submit">
        </form>
        <hr>
        <h4>Delete reply (DELETE /api/replies/:board)</h4>
        <form id="deleteReply">
          <input type='text' placeholder='board' id='board6' name='board' required=''><br>
          <input type='text' placeholder='thread id' name='thread_id' required=''><br>
          <input type='text' placeholder='id to delete' name='reply_id' required=''><br>
          <input type='text' placeholder='password' name='delete_password' required=''><br>
          <input type="submit" class="btn btn-warning mt-1" value="Delete">
        </form>
    </div>
    <hr style='margin: 50px; margin-top: 200px'>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#newThread').submit(function(){
          var board = $('#board1').val();
          $(this).attr('action', "/api/threads/" + board);
        });
        $('#newReply').submit(function(){
          var board = $('#board4').val();
          $(this).attr('action', "/api/replies/" + board);
        });
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteThread').submit(function(e){
          var url = "/api/threads/"+$('#board3').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#reportReply').submit(function(e){
          var url = "/api/replies/"+$('#board5').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteReply').submit(function(e){
          var url = "/api/replies/"+$('#board6').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
